name: "[ci] run pyrefly and ruff"

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.12
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"

      - name: Install uv
        run: pipx install uv

      - name: Install dependencies
        run: uv sync

      - name: Run ruff format check on src files
        run: uv run ruff format --check .
        
      - name: Run ruff other check on src files
        run: uv run ruff check .

      - name: Run pyrefly check on src files
        run: uv run pyrefly check .
